page-empresas {
    .menu-container{
        background-color:#353538;
        padding:2px;
    }

    #menu{
        background-color:#353538 ;

        border-radius: 50px;
        position:relative;
    }

    #menu-search{
        width: 70%;
    }

    #titulo{
        text-align: center;
        font-family: sans-serif;
    }

    .button-contas{
        height: 100px;
        width: 100px;
        position: relative !important;
        margin: 2px !important;
        padding: 2px !important;
        vertical-align: middle;
    }
}
