page-empresas {

    .button-contas{
        height: 100px;
        width: 100px;
        position: relative !important;
        margin: 2px !important;
        padding: 2px !important;
        vertical-align: middle;
    }
}
