
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastrar nova conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="salvarConta(); $event.preventDefault()" >
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls['nome'].dirty && formGroup.controls['nome'].errors "
     margin-left >Valor Inválido</p>
    <ion-item>
      <!--TODO máscarar para digitação -->
      <ion-label stacked>Valor</ion-label>
      <ion-input formControlName="valor" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <!-- Carregar dinamicamente? -->
      <ion-label stacked>Empresa*</ion-label>
      <ion-select formControlName="empresa" type="text" placeholder="Selecione uma empresa" >
        <!-- Colocar [value] = "empresa_id" -- ??? -->
        <ion-option *ngFor="let empresa of empresas; first as f">{{empresa.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button 
      ion-button (click)="cadastrarEmpresa()" 
      type="button" 
      color="dark">Cadastrar Nova Empresa</button>
    </ion-item>
      <ion-list radio-group formControlName="tipoCusto">
        <ion-list-header>Tipo de Custo:</ion-list-header>
        <ion-item>
          <ion-label>Custo Fixo</ion-label>
          <ion-radio checked="true" value="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Custo Variavel</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-list>
    <ion-item>
      <!-- TODO Datepicker -->
      <ion-label stacked>Data de vencimento</ion-label>
      <ion-input formControlName="dataVencimento" type="text"></ion-input>
    </ion-item>
      <ion-list radio-group formControlName="estadoPagamento">
        <ion-list-header>Estado do pagamento:</ion-list-header>
        <ion-item>
          <ion-label>PAGO</ion-label>
          <ion-radio value="1" (click)="pagarConta()"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>PENDENTE</ion-label>
          <ion-radio checked="true" value="2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>VENCIDA</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-list>
    <ion-item>
      <!-- TODO default="indeterminado" - Selecionar qtd meses? datepicker/mês? -->
      <ion-label stacked>vigencia</ion-label>
      <ion-input formControlName="vigencia" type="text"></ion-input>
    </ion-item>
    <button ion-button block type="submit">Cadastrar Conta</button>
  </form>
</ion-content>
