page-contas {
    .valor{
        color:red;
        margin-right:-90px;
    }

    .button-contas{
        height: 100px;
        width: 100px;
        position: relative !important;
        margin-top: 2px !important;
        padding-bottom: 2px !important;
        padding-top: 2px !important;
        vertical-align: middle;
        white-space: normal;
        word-wrap: break-word;
    }

    
}
